<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body class="h-100">
  <div class="container-fluid">
    <div class="p-5">
      <h1>
        <%= message %>
      </h1>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
